<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itsj.food.delivery">

    <application
        android:name=".ui.FoodDeliveryApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodDelivery">
        <activity android:name=".ui.myjprofile2.MyProfile2"></activity>
        <activity android:name=".ui.orders.Orders" />
        <activity android:name=".ui.history.History" />
        <activity android:name=".ui.cart.Cart" />
        <activity android:name=".ui.checkoutpayment.CheckOutPayment" />
        <activity android:name=".ui.checkout.Checkout" />
        <activity android:name=".ui.foodinformation.FoodInformation" />
        <activity android:name=".ui.myprofile.MyProfile" />
        <activity android:name=".ui.spicychiecrns.Spicy_chiecrns" />
        <activity android:name=".ui.home.Home" />
        <activity android:name=".ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.loginandsignup.LoginAndSignUpActivity" />
    </application>

</manifest>