<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.its.food.delivery">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ui.FoodDeliveryApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodDelivery"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".ui.sign_up.SignUpActivity"/>
        <activity android:name=".ui.favorite.FavoriteActivity" />
        <activity android:name=".ui.history.HistoryActivity" />
        <activity android:name=".ui.see_more.SeeMoreActivity" />
        <activity android:name=".ui.no_offers.NoOffersActivity" />
        <activity android:name=".ui.no_internet.NoInternetActivity" />
        <activity android:name=".ui.item_not_found.ItemNotFoundActivity" />
        <activity android:name=".ui.my_profile2.MyProfileEditActivity" />
        <activity android:name=".ui.orders.OrdersActivity" />
        <activity android:name=".ui.cart.CartActivity" />
        <activity android:name=".ui.checkout_payment.CheckOutPaymentActivity" />
        <activity android:name=".ui.checkout.CheckoutActivity" />
        <activity android:name=".ui.food_in_formation.FoodInformationActivity" />
        <activity android:name=".ui.main.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.result.ResultActivity" />
        <activity android:name=".ui.splash.SplashActivity">

        </activity>
        <activity android:name=".ui.login_and_sign_up.LoginAndSignUpActivity" />
    </application>

</manifest>